    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>公交实时查询软件</h2>
              <br/>
                <p>提供南京市江宁区公交线路上公交车位置的实时定位查询。</p>
                <p>公交来了1.1更新：</p>
                <p> 1、修复旧版启动崩溃的问题；<br>
                    2、站点选择界面支持浮动按钮切换行车方向；<br>
                    3、查询结果界面支持下拉刷新。</p>
                <br/>
              </div>
        </div>
    </section>
