<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">首页</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">说明</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">特点</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.author }} All Rights Reserved</p>
            </div>
            
        </div>
    </div>
</footer>
